body {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 20px;
}

label {
    font-size: 1.2rem;
}

button {
    background-color: #6c757d;
    border: none;
}
